{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<div id="content" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			
				{% block content %}
					Sorry, no content
				{% endblock %}

			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}

			</div>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="{{ site.theme.link }}/js/bundle.min.js"></script>

	</body>
</html>
